<html xmlns:th="https://www.thymeleaf.org">
<body>
	<h1>Welcome</h1>
	<div>
		<h3>You can compile your code by upload the file and select the language</h3>
		<form method="POST" enctype="multipart/form-data" action="/compiler">
			<table>
				<tr><td>Choose language:</td><td><select th:name="language">
					<option value="java">Java</option>
					<option value="go">Go</option>
				</select></td></tr>
				<tr><td>Enter version:</td><td><input type="text" th:name="version" value="" /></td></tr>
				<tr><td>Enter flags:</td><td><input type="text" name="flags" value="" /></td></tr>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Compile!" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<h3>You can customize the compile command to compile your code</h3>
		<form method="POST" enctype="multipart/form-data" action="/command">
			<table>
				<tr><td>Choose language:</td><td><select th:name="language">
					<option value="Java">Java</option>
					<option value="Go">Go</option>
				</select></td></tr>
				<tr><td>Compile command:</td><td><input type="text" name="command" value="" /></td></tr>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Compile!" /></td></tr>
			</table>
		</form>
	</div>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</body>
</html>
